@import 'config';
@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@400;500;700&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    color: #000;
    font-size: 18px;
    font-family: $general-font;
    background-color: $general-color;
}
button, input {
    outline: 0;
    border: 1px solid transparent;
}
li {
    text-decoration: none;
}
@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@400;500;700&display=swap');@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@400;500;700&display=swap');